.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 1em; */
}

.App-content{
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  padding: 1em;
  /* flex-direction: column; */
}

.App-link {
  color: #61dafb;
}

.custom-radio-green .p-radiobutton-box {
  border-color: green !important;
  background-color: green !important;
}

.custom-radio-red .p-radiobutton-box {
  border-color: red !important;
  background-color: red !important;
}

.btn {
  background-color: #ca6f14;
  display: ruby;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  padding: 10px;
  color: white;
  border-radius: 12px;
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
